<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card text-dark bg-light mb-3" >
                        <img class="card-img-top" width="200" height="200" src="https://static.toiimg.com/thumb/53110049.cms?width=1200&height=900"  alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Pizza Name</h5>
                          <p class="card-text">399 only</p>
                          <a href="#" class="btn btn-dark">Buy Now</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card text-dark bg-light mb-3" >
                        <img class="card-img-top" width="200" height="200" src="https://media-cdn.tripadvisor.com/media/photo-p/14/53/11/14/photo4jpg.jpg"  alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Pizza Name </h5>
                          <p class="card-text">399 only</p>
                          <a href="#" class="btn btn-dark">Buy Now</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card text-dark bg-light mb-3" >
                        <img class="card-img-top" width="200" height="200" src="https://b.zmtcdn.com/data/pictures/chains/1/18412861/fe8c80fa162c790264a597b45e7e6580.jpg?fit=around|771.75:416.25&crop=771.75:416.25;*,*"  alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Pizza Name </h5>
                          <p class="card-text">399 only</p>
                          <a href="#" class="btn btn-dark">Buy Now</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card text-dark bg-light mb-3" >
                        <img class="card-img-top" width="200" height="200" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSzmh0KZj1gCB6bUNO6HYq3FqGFqKHKjamEmwTMWeWrVv45t1dGIX1-s_Bpm-LMmh-nvo&usqp=CAU"  alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Pizza Name </h5>
                          <p class="card-text">399 only</p>
                          <a href="#" class="btn btn-dark">Buy Now</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card text-dark bg-light mb-3" >
                        <img class="card-img-top" width="200" height="200" src="https://media-cdn.tripadvisor.com/media/photo-s/0e/94/0a/7c/yaaayyyy.jpg"  alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Pizza Name </h5>
                          <p class="card-text">399 only</p>
                          <a href="#" class="btn btn-dark">Buy Now</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card text-dark bg-light mb-3" >
                        <img class="card-img-top" width="200" height="200" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRwyAMXmWIupwJjkY4X6qZQtsfHMT-9Ya6HrrEE_mVOgZ_rFNd4HFbuDe9fvWpirqXuug&usqp=CAU"  alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Pizza Name </h5>
                          <p class="card-text">399 only</p>
                          <a href="#" class="btn btn-dark">Buy Now</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card text-dark bg-light mb-3" >
                        <img class="card-img-top" width="200" height="200" src="https://media-cdn.tripadvisor.com/media/photo-s/08/b3/38/cf/pizza-milano.jpg"  alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Pizza Name </h5>
                          <p class="card-text">399 only</p>
                          <a href="#" class="btn btn-dark">Buy Now</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card text-dark bg-light mb-3" >
                        <img class="card-img-top" width="200" height="200" src="https://static.toiimg.com/photo/51089680.cms"  alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Pizza Name </h5>
                          <p class="card-text">399 only</p>
                          <a href="#" class="btn btn-dark">Buy Now</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card text-dark bg-light mb-3" >
                        <img class="card-img-top" width="200" height="200" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTE2STtk1guBZG862wh3ZzmuqYAu6fNtawXla0V4jbe7hdC-gD0CQrbIf7v80zDTdRnrBA&usqp=CAU"  alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Pizza Name </h5>
                          <p class="card-text">399 only</p>
                          <a href="#" class="btn btn-dark">Buy Now</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card text-dark bg-light mb-3" >
                        <img class="card-img-top" width="200" height="200" src="https://media-cdn.tripadvisor.com/media/photo-s/17/10/0d/0f/hot-and-spicy.jpg"  alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Pizza Name </h5>
                          <p class="card-text">399 only</p>
                          <a href="#" class="btn btn-dark">Buy Now</a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>


